<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pitch Perfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49BEFB9B1C3B2F15007B4B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49BEFBAF1C3B2F16007B4B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49BEFBBA1C3B2F17007B4B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
